{% extends 'base.html' %}
{% load static %}

{% block body %}
    


    <!-- offcanvas search form start -->
    <div class="offcanvas-search-wrapper">
        <div class="offcanvas-search-inner">
            <div class="offcanvas-close">
                <i class="fa fa-close"></i>
            </div>
            <div class="container">
                <div class="offcanvas-search-box">
                    <form class="d-flex bdr-bottom w-100">
                        <input type="text" placeholder="Search entire storage here...">
                        <button class="search-btn"><i class="fa fa-search"></i>search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- offcanvas search form end -->

    <main>
        <!-- breadcrumb area start -->
        <div class="breadcrumb-area breadcrumb-img bg-img" data-bg="assets/img/banner/shop.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <h3 class="breadcrumb-title">REGISTER</h3>
                                <ul class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Register</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- login register wrapper start -->
        <div class="login-register-wrapper section-padding">
            <div class="container">
                <div class="member-area-from-wrap">
                    
                      
                <center>
                    
                    {% if error %}
                        {{error}}
                    {% endif %}
                        
                            <!-- Register Content Start -->
                            <div class="col-lg-6">
                                <div class="login-reg-form-wrap sign-up-form">
                                    <h4>Singup Form</h4>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="single-input-item">
                                            <input type="text" name="fname" placeholder="First Name" required />
                                        </div>
                                        <div class="single-input-item">
                                            <input type="text" name="lname" placeholder="Last Name" required />
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="single-input-item">
                                                    <input type="email" name="email" placeholder="Enter your Email" required />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="single-input-item">
                                                    <input type="password" name="password" placeholder="your Password" maxlength="12" minlength="8" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-input-item">
                                            <button class="btn btn-sqr">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Register Content End -->
                        </div>
                    
                </center>
            </div>
        </div>
        <!-- login register wrapper end -->
    </main>

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->

{% endblock body %}
    